@mixin flex($direction : "row") {
    display: flex;
    flex-direction: $direction;
    justify-content: center;
    align-items: center;
}

*:active,
*:focus {
    outline: none;
}

*::-webkit-scrollbar {
    display: none;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "sans", Arial, sans-serif;
}


body {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;

    display: flex;


    border: 2px solid red;
}



#dashboard{
    position: fixed;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: flex-start;
    border: 2px solid blue;
}