$sidebarBackground : #353b40;
$seperator : #484e53;
$textLight : #e2e9eb;


#sidebar {
    border: 2px solid green;
    padding: 1rem;
    background-color: $sidebarBackground;
    color: $textLight;

    min-width: 15rem;
    width: 15rem;
    height: 100%;

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    row-gap: 0.5rem;


    .profile i {
        font-size: 2rem !important;
    }

    .seperator {
        position: relative;
        width: 100%;
        margin: 0.3rem auto;
        height: 1px;
        background-color: $seperator;
    }

    .sidebarTab {
        padding: 0.5rem;
        display: flex;
        align-items: center;
        column-gap: 0.5rem;
        width: 100%;
        text-align: left;
        font-size: 1rem;
        border-radius: 0.3rem;
        cursor: pointer;
        transition: all 200ms ease;
        text-decoration: none;
        color: $textLight;

        i {
            font-size: 1.2rem;
        }
    }

    .sidebarTab:hover {
        background-color: #474d52;
    }
}



@media screen and (max-width : 700px) {
    #sidebar{
        display: none;
    }
    #navbar{
        display: flex;
    }
}